[run]
source =
    airport
    user

omit =
    */tests/*
    */migrations/*
    */airport/management/*
    */admin_filters.py
    */apps.py
    */__init__.py

[report]
show_missing = True
skip_covered = True
