APP_IMAGE=otakucoder/airport-api:latest

SECRET_KEY=your-secret-key
DEBUG=your-debug-bool-flag
ALLOWED_HOSTS=localhost,127.0.0.1

FIXTURE_PASSWORD=your-fixture-password
MAX_TICKETS_PER_ORDER=5

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=your-postgres-user
POSTGRES_PASSWORD=your-postgres-password
POSTGRES_DB=your-postgres-db
PGDATA=/var/lib/postgresql/data
