SECRET_KEY=your-secret-key
DEBUG=your-debug-flag

FIXTURE_PASSWORD=your-fixture-password

MAX_TICKETS_PER_ORDER=5

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your-postgres-password
POSTGRES_DB=airport
PGDATA=/var/lib/postgresql/data
